<div class="container mt-3">
    <div style="text-align: center; margin-top: 250px;" *ngIf="!registerMode">
        <h1>Find your friends now!!</h1>
        <p class="lead">Let's find some friends connect with them</p>
        <div class="text-center" style="margin-top:100px">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg me-5">Register</button>
            <button class="btn btn-primar btn-lg btn-info">Learn more..</button>
        </div>
    </div>

    <div class="container" *ngIf="registerMode">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegistrationMode($event)"></app-register>
            </div>
        </div>
    </div>

</div>