<div class="container mt-5">
    <div style="text-align: center;" *ngIf="!registerMode">
        <h1>Find your friends now!!</h1>
        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga repudiandae facilis odit,
            doloribus ex impedit illo alias sunt praesentium dolor et voluptas, iure voluptatem eos aspernatur, itaque
            architecto quia fugiat!</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primar btn-lg me-5">Register</button>
            <button class="btn btn-primar btn-lg btn-info">Learn more..</button>
        </div>
    </div>

    <div class="container" *ngIf="registerMode">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegistrationMode($event)"></app-register>
            </div>
        </div>
    </div>

</div>