<form [formGroup]="registrationForm" (ngSubmit)="registrationForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
    <!-- <div class="mb-3"> -->
    <!-- <input type="text" class="form-control" formControlName="username" placeholder="Username"> -->
    <!-- name="username"> -->
    <!-- [(ngModel)]="user.username"-->
    <!-- </div> -->
    <!-- <div class="mb-3"> -->
    <!-- <input type="password" class="form-control" placeholder="Password" formControlName="password"> -->

    <!-- name="password"
    [(ngModel)]="user.password" -->

    <!-- </div> -->
    <div class="mb-3">
        <label style="margin-right: 10px;">I am a : </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" value="male" formControlName="gender"> Male
        </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input ms-3" value="female" formControlName="gender"> female
        </label>
    </div>

    <app-text-input [formControl]="$any(registrationForm.controls['username'])" type="text"
        [label]="'username'"></app-text-input>
    <app-text-input [formControl]="$any(registrationForm.controls['knownAs'])" type="text"
        [label]="'Known As'"></app-text-input>
    <app-date-picker [formControl]="$any(registrationForm.controls['dateOfBirth'])" type="text"
        [label]="'Date of Birth'" [maxDate]="maxDate"></app-date-picker>
    <app-text-input [formControl]="$any(registrationForm.controls['city'])" type="text"
        [label]="'City'"></app-text-input>
    <app-text-input [formControl]="$any(registrationForm.controls['country'])" type="text"
        [label]="'Country'"></app-text-input>
    <app-text-input [formControl]="$any(registrationForm.controls['password'])" type="password"
        [label]="'Password'"></app-text-input>
    <app-text-input [formControl]="$any(registrationForm.controls['confirmPassword'])" type="password"
        [label]="'Confirm Password'"></app-text-input>

    <div class="row" *ngIf="validationErrors">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="text-center">
        <button class="btn btn-success me-2" [disabled]="registrationForm.invalid" type="submit">Register</button>
        <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>